<nav class="navibar">
    <div class="headroom-wrapper">
        <div class="search">
            <form class="in_search">
                <input class="search_inpt" placeholder="Поиск...">
                <button class="search_btn">
                    <img src="static/images/search.svg">
                </button>
            </form>

        </div>
        <ul class="head_btns">
            <li><img src="static/images/person_icon.svg"></li>
            <li><img src="static/images/heart.svg"></li>
            <li><img src="static/images/supermarket.svg"></li>
        </ul>
    </div>
    <div class="action_stroke" role="alert"></div>
</nav>